body {background-color: #000d1a;}
h1 {
  color: orange;
  font-family: Montserrat;
  text-align: center;
  }
::selection {
  color: black;
  background: orange;
}
.names{
  color: orange;
  font-family: Montserrat;
  text-align: center;
}
