@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@900&display=swap');

:root{
    --h1:black;  
    --bg:rgb(18, 63, 114);
    --map:grey;
    --maphover:rgb(15, 52, 94);
    --mapstroke:white;
    --navbar:rgb(255, 255, 255);
    --icons:black;
    --logobutton:100%;
    --border:rgba(0,0,0,0);
}

body{
    background-color: var(--bg);
    margin: 0px;
    display: flex;
    align-items: center;
}


.navbar{
    display: flex;
    top: 0;
    left: 0;
    width: 6rem;
    height: 100vh;
    border-right: 2px solid var(--icons);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--navbar);
}


.logo-button{
    margin-top: 10px;
    border: 0px;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.logo-button svg {
    fill:var(--icons);
    width: 70%;
    transition: 0.2s ease-in-out;
}

.logo-button svg:hover{
    fill:var(--icons);
    width: 100%;
    transition: 0.2s ease-in-out;
}

.logo-button svg:active{
    fill:var(--icons);
    width: 60%;
    transition: 0.2s ease-in-out;
}


.divider{
    height: 2px;
    width: 38px;
    margin-top: 5px;
    border-radius: 1px;
    background-color: var(--icons);
}

.button{
    margin-top: 10px;
    border-width: 0.5px;
    border-radius:50%;
    background-color: var(--logo);
    border-color: var(--border);
    width: 48px;
    height: 48px;
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.button-bottom{
    margin-top: auto;
    margin-bottom: 10px;
    border: 0px;
    border-color: rgba(0,0,0,0);
    background-color: var(--logo);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.button-bottom svg{
    fill:var(--icons);
    width: 80%;
    transition: 0.2s ease-in-out;
}

.button-bottom svg:hover{
    fill:var(--icons);
    width: 90%;
    transition: 0.2s ease-in-out;
}

.button-bottom svg:active {
    fill:var(--icons);
    width: 70%;
    transition: 0.2s ease-in-out;   
}

.button{
    margin-top: 10px;
    border: 0px;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.button svg{
    fill:var(--icons);
    width: 90%;
    transition: 0.2s ease-in-out;
}

.button svg:hover{
    fill:var(--icons);
    width: 100%;
    transition: 0.2s ease-in-out;
}

.button svg:active {
    fill:var(--icons);
    width: 70%;
    transition: 0.2s ease-in-out;   
}

.b3 svg{
    fill:var(--icons);
    width: 70%;
    transition: 0.2s ease-in-out;
    padding-bottom: 10px;
}

.b3 svg:hover{
    fill:var(--icons);
    width: 80%;
    transition: 0.2s ease-in-out;
}

.b3 svg:active {
    fill:var(--icons);
    width: 60%;
    transition: 0.2s ease-in-out;   
}

.icondark{
    fill: var(--icons);
    opacity: 1;
}

.iconlight{
    fill: var(--icons);
    opacity: 0;
}

.estado{
    fill:var(--map);
    stroke: width 2px;
    stroke: var(--mapstroke);
    transition: all 0.2s ease-in-out;
}

.estado:hover{
    fill:var(--maphover);
    stroke: width 2px;
    stroke: var(--mapstroke);
    transition: all 0.2s ease-in-out;
}

.mapa{
    display: flex;
    top: 0;
    justify-content: center;
    align-content: center;
    }

.infosection{
    background-color: var(--navbar);
    width: 30px;
    border: 2px solid var(--border);
    height: 30px;
    border-radius: 30%;
}