@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@900&display=swap');

:root{
    --h1:black;  
    --bg:rgb(15, 52, 94);
    --map:grey;
    --maphover:rgb(0, 0, 255);
    --mapstroke:white;
    --navbar:rgb(255, 255, 255);
    --navprimary:white;
    --navsecondary:white;
    --logo:black;
}

body{
    background-color: var(--bg);
}

ul{
    display: flex;
    list-style-type:none;
    position: fixed;
    height: 100%;
    width: 5rem;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    background-color: var(--navbar);
}

li{
  
}

li a {
    display: block;
    color: black;
    font-family: Montserrat;
    text-align: center;
    text-decoration: none;
  }

.estado{
    fill:var(--map);
    stroke: width 2px;
    stroke: var(--mapstroke);
    transition: all 0.2s ease-in-out;
}

.estado:hover{
    fill:var(--maphover);
    stroke: width 2px;
    stroke: var(--mapstroke);
    transition: all 0.2s ease-in-out;
}

.mapa{
    display: flex;
    justify-content: center;
    align-content: center;
    }