body {background-color: #000d1a;}
h1 {
  color: orange;
  font-family: Montserrat;
  text-align: center;
  padding-top: 10px;
  }

.nombre{
  padding-left: 50px;

}

.planeta{
  display: flex;align-items: center;flex-direction: row;
}

::selection {
  color: black;
  background: orange;
}
h2 {
  color: orange;
  font-family: Montserrat;
  text-align: center;
}


ul {
  list-style-type: none;
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: Montserrat;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  display: block;
  color: white;
  font-family: Montserrat;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  border-radius: 1.2vw;
 }