body {background-color: #000d1a;}
h1 {
  color: orange;
  font-family: Montserrat;
  text-align: center;
  padding-top: 10px;
  }

.sistema{
  margin: auto;
  display: none;

}

.planeta{
  color: white;
  font-size: 20px;
  text-align: center; 
}

::selection {
  color: black;
  background: orange;
}
h2 {
  color: orange;
  font-family: Montserrat;
  text-align: center;
}
