body {background-color: #ffffff;}
h1 {
  color: orange;
  font-family: Montserrat;
  text-align: center;
  padding-top: 10px;
  }
::selection {
  color: white;
  background: orange;
}
h2 {
  color: orange;
  font-family: Montserrat;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 10;
 backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 98%;  
  border-radius: 15px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  font-family: Montserrat;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #011a32;
  color: white;
}

.active {
  background-color: #ffac45;
  color: white;
}
